
$intro-color:  hsl(217, 28%, 15%);
$main-color: hsl(218, 28%, 13%);
$footer-color: hsl(216, 53%, 9%);
$testi-color: hsl(219, 30%, 18%);

$acc-c: hsl(176, 68%, 64%);
$acc-b: hsl(198, 60%, 50%);
$acc-r: hsl(0, 100%, 63%);

